/* react-datepicker overrinding rules */

.react-datepicker {
	border: none !important;
	border-radius: 0.5rem !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
	color: var(--white) !important;
}

.react-datepicker__navigation-icon {
	&::before {
		height: 14px !important;
		top: 10px !important;
		width: 14px !important;
	}
}

.react-datepicker__day--selected,
.react-datepicker__header {
	background-color: var(--primary) !important;
}
